
<div th:fragment="footer">
	
	<!-- dialog -->
	<div id="remove-dialog-confirm" title="Remove this product?" style="display: none;">
		<p>
			<span class="ui-icon ui-icon-alert"
				style="float: left; margin: 12px 12px 20px 0;">
			</span>
			
			The <span id="remove-dialog-confirm-detail" style="font-weight: bold;"></span>
			will be permanently deleted and cannot be recovered. Are you sure?
		</p>
	</div>
	
	<div id="dialog" title="Stock Availability" style="display: none;">
		<p id="dialog-detail"></p>
	</div>

	<div style="height: 50px;"></div>
	<footer class="container-fluid text-center">
		<p>Nashtech - Haveynash</p>
		<p>Huy Tran Quang</p>
	</footer>

</div>