.text-bold {
	font-weight: bold;
}

.dropbtn {
    background-color: white;
    color: #777;
    height: 48px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
	float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 10px;
    right: 0;
    background-color: #e2e2e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    margin-left: 7px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e2e2e2;
}