<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head lang="en" th:replace="fragments/header :: header"></head>
	
	<body>
		<div class="container">
		
			<div th:if="${error}" th:utext="${error}" class="alert alert-danger"></div>
			
			<form th:action="@{/login}" method="post">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input name="username" class="form-control" type="text" placeholder="Username" autofocus="autofocus"/>
				</div>
				
				<div style="height: 5px;"></div>
				
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input id="password" type="password" class="form-control" name="password" placeholder="Password"/>
				</div>
				
				<div style="height: 15px;"></div>
				
				<div style="text-align: center;">
					<input class="btn btn-primary" type="submit" value="Sign In" />
				</div>
			</form>
			
			
			<div style="height: 20px;"></div>
			<a class="btn-link" th:href="@{/create-account}" style="display: block; text-align: center;">
				Don't have an account? Create one.
			</a>
			
			<div th:replace="fragments/footer :: footer"></div>
			
		</div>
	</body>
</html>